


.body{
padding: 30px;

}



.block {
/*background-image: linear-gradient(#333,#999);*/
background: url('../imagescss/949640518.jpg') 50% 50% no-repeat,linear-gradient(#333,#999);

 height: 1000px;
border-radius: 15px;
box-shadow: 0 0 10px #000;


}

